
li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header .user-info{
  margin-left: 10px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color:#333;
}

.user-info span {
  font-size:13px;
  color:#999;
  margin-top: 2px;
}

li.dev-item img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin:10px 0;
  flex:1
}

li.dev-item a {
  color: #8e4dff;
  font-size:14px;
  text-decoration: none;
}

li.dev-item a:hover{
  color:#5a2ea6;
}

li.dev-item button.delete {
  color:#fff;
  padding: 10px;
  border-radius: 4px;
  border:0;
  font-size: 14px;
  background: #8e4dff;
  transition: background 0.5s;
  font-weight: bold;
}

li.dev-item button.delete:hover {
  background: #6931ca;
}

li.dev-item .item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
